<div class="page-header">
  <h1>
    Cities
    <a href="/cities/new" class="btn btn-lg btn-success">New City</a>
  </h1>

<div>
<h1> </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Mood</th>
        <th>Temp C</th>
        <th>Temp F</th>
        <th>Weather</th>
        <th>City name</th>
        <th>Actions</th>
      </tr>

      <% @cities.each do |city| %>
        <% url = "http://maps.googleapis.com/maps/api/geocode/json?address="+city.city_name %>
        <%  parsed_data = JSON.parse(open(url).read) %>
        <%  lat = parsed_data["results"][0]["geometry"]["location"]["lat"]%>
        <%  lng = parsed_data["results"][0]["geometry"]["location"]["lng"]%>
        <%  coord= [lat,lng].to_sentence(two_words_connector: ',') %>
        <%  url2 = "https://api.darksky.net/forecast/edf7ebf38240e9a09c2f3abcbdb81c52/"+coord%>
        <%  parsed_dati = JSON.parse(open(url2).read)%>
        <% @current_temperature = parsed_dati["currently"]["temperature"] %>
        <% @current_summary = parsed_dati["currently"]["summary"] %>
      <tr>
        <td>
          <% if @current_summary=="Mostly Cloudy" %>
<img class="img-responsive" src="https://t3.ftcdn.net/jpg/01/08/01/26/240_F_108012696_ZSbdzsVcAgKZ1pEbxqGBchqmqc0TaDD0.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Clear" %>
<img class="img-responsive" src="https://wallpaperscraft.com/image/sunbeds_couple_sun_beach_sea_sand_54380_2048x1152.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Partly Cloudy" %>
<img class="img-responsive" src="https://ladyfi.files.wordpress.com/2010/11/dancing.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Rain" %>
<img class="img-responsive" src="https://i.ytimg.com/vi/Q1AHT6vGJ1w/maxresdefault.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Snow" %>
<img class="img-responsive" src="http://data1.ibtimes.co.in/en/full/574340/game-thrones.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Overcast" %>
<img class="img-responsive" src="http://media.gettyimages.com/videos/sad-woman-sitting-by-the-river-video-id473348935?s=640x640"  width="100">
          <% end %>

          <% if @current_summary=="Drizzle" %>
<img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/5f/d6/47/5fd6473e0017d0dff60151889ae978c3.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Flurries" %>
<img class="img-responsive" src="http://www.lovethispic.com/uploaded_images/227539-Dog-Eating-Snow-Flurries.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Light Snow" %>
<img class="img-responsive" src="http://www.lovethispic.com/uploaded_images/227539-Dog-Eating-Snow-Flurries.jpg"  width="100">
          <% end %>

          <% if @current_summary=="Light Rain" %>
<img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/5f/d6/47/5fd6473e0017d0dff60151889ae978c3.jpg"  width="100">
          <% end %>


        </td>
        <td><%= ((@current_temperature-32)*5/9).to_i %></td>
        <td>  <%= @current_temperature.to_i %> </td>
        <td><%= @current_summary %></td>
        <td> <%= city.city_name %> </td>
        <td>
          <% if current_user == city.user %>
            <a href="/delete_city/<%= city.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @cities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
